html,
body {
  margin:0;
  padding:0;
  height: 100%;
}

body {
  background: url(https://dl.dropboxusercontent.com/u/74925506/background.jpeg) center center / cover no-repeat fixed;
}

h1,
h2,
h3,
p {
  line-height:1.2;
  margin:0;
  padding:0;
}

input {
  border:0;
  padding:10px;
  line-height:1.2;
  font-size:14px;
  color:#222;
  border:solid 1px #ccc;
  margin:0 0 20px;
  width:400px;
  border-radius: 4px;
  border:solid 2px #aaa;
}

input:focus {
  outline: none;
  border-color:#EEA34A;
}

.formButton {
  display:block;
  margin:0 auto;
  background:rgba(232,56,61,1);
  border:1px solid rgba(202,26,31,1);
  color:#FFF;
  text-shadow:0px 0px 3px rgba(0,0,0,1);
  width:100px;
  padding:10px 0;
  font-size:14px;
}

.formButton:hover {
  cursor:pointer;
  background:rgba(252,76,81,1);
}

.formButton:focus {
  outline: none;
}

.formButton:active {
  background:rgba(212,36,41,1);
}

.formLabel {
  font-size:20px;
  color:#fff;
  position:relative;
  top:-8px;
  text-align:right;
  text-shadow: 1px  1px  1px #000,
               1px -1px  1px #000,
              -1px  1px  1px #000,
              -1px -1px  1px #000;
}

select {
  font-size:15px;
  color:#222;
  border:solid 1px #ccc;
  margin:0 0 20px;
  border-radius: 4px;
  border:solid 2px #aaa;
}
